<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel='stylesheet' type="text/css" href="bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <!-- <span id="navhead navbar-expand">employess</span> -->
        <div id="navlink">
        <a class="navbar-brand" href="/login">Logout</a>

        </div>
       
    </nav>
    <div class="indtittle text-center">
        <h1>Welcome to our Portal</h1>
        <div class="data">
        </div>
    </div>
    
</body>
<script src="views/app.js"></script>
</html>