#flexbox{
    align-items: center;
    justify-content: center;
}
#pap{
   background:green; 
}
#navlink{
    text-align: right;
}
#navhead{
    font-size: 30px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.indtittle{
   margin: 20px;
}
#logutbtn{
    border: none;
}
